@use 'settings/index.scss' as *;

.circle-1 {
    @include float-animation(4s)
}

.circle-2 {
    @include float-animation(5s)
}

.circle-3 {
    @include float-animation(6s)
}


.title {
    @include header-text;
}

.description {
    @include paragraph-medium-text;
}

.buttons {
    @include light-button;
}

.buttons-dark {
    @include dark-button;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    justify-content: flex-start;
}

.hero {
    margin-top: $hero-top-margin-phone;
}

.stats {
    position: relative;
    margin: 1rem 0 5rem;

    h2,
    h3 {
        margin: 0;
    }


    &__1,
    &__2 {
        @include glassmorphism;
        @include shadow;
        background: rgba(0, 0, 0, 0.05);
        border: $border-weight $white-primary;
        border-radius: $border-radiusx2;
        padding: 1.5rem;
        color: white;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        vertical-align: middle;
        text-align: center;
        justify-content: center;
    }

    &__container {
        align-self: flex-end;
        margin-top: 3.5rem;
        margin-right: 5rem;
        z-index: 1;

        .circle-1 {
            position: absolute;
            width: 15rem;
            height: auto;
            top: -2.5rem;
            right: -1.5rem;
            z-index: -1;
        }
    }

    $stat-font: 40px;
    $text-font: 18px;
    $box-size: 14rem;
    $multiplier: 0.8;
    $box-multiplier: 0.7;

    &__1 {
        height: calc($box-size * $box-multiplier);
        width: calc($box-size * $box-multiplier);

        h2 {
            font-weight: bold;
            font-size: calc($stat-font * $multiplier);
        }

        h3 {
            font-weight: 500;
            font-size: calc($text-font * $multiplier);
            line-height: calc($text-font * $line-height-multiplier * $multiplier);
        }
    }

    &__2 {
        height: $box-size;
        width: $box-size;
        align-self: flex-end;
        margin-right: 7rem;
        margin-top: -3.5rem;
        z-index: 0;
        position: relative;

        .circle-2,
        .circle-3 {
            position: absolute;
        }

        .circle-2 {
            width: 6rem;
            height: auto;
            top: -2rem;
            left: 0rem;
        }

        .circle-3 {
            width: 12rem;
            height: auto;
            bottom: -6rem;
            right: -8rem;
        }

        h2 {
            font-weight: bold;
            font-size: calc($stat-font);
        }

        h3 {
            font-weight: 500;
            font-size: calc($text-font);
            line-height: calc($text-font * $line-height-multiplier);
        }
    }
}

.flex-top {
    div {
        justify-content: flex-start;
    }
}

.section1-header {
    img {
        @include shadow;
        border-radius: $border-radius;
        width: 100%;
        height: auto;
    }
}

.section1-container {
    div {
        display: grid;
        column-gap: $tiny-gap;
        row-gap: $tiny-gap;
    }
}

.quote {
    margin-top: 3rem;
    border-radius: $border-radiusx2;

    &__decor {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        .flex {
            display: flex;
        }

        &--chips {
            flex-direction: column;
            row-gap: 1rem;
            display: flex;
            @include chips;
            margin: 0.5rem 0;
            align-self: end;
        }


        &--image {
            align-self: flex-end;
            width: 5rem;
            height: auto
        }
    }

    &__text {
        @include quote-text;
    }
}

.section2 {
    &__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .circle-1,
        .circle-3 {
            position: absolute;
        }

        .circle-1 {
            bottom: -5rem;
            right: -2.5rem;
            height: auto;
            width: 20rem;
        }

        .circle-3 {
            width: 10rem;
            height: auto;
            left: -1rem;
            top: -3rem;
        }

        &--founder {
            .founder {
                @include glassmorphism;
                @include shadow;
                border-radius: $border-radiusx2;
                border: $border-weight $white-primary;
                display: flex;
                justify-content: center;
                padding: 2rem 0 0;
                bottom: 0;
                height: auto;
                width: 100%;
            }

            .title {
                align-self: flex-start;

                h2 {
                    @include button-text;
                    margin: 1rem 0 0.5rem 0;
                }

                p {
                    @include paragraph-light-secondary-text;
                    margin: 0;
                }
            }
        }
    }
}

.section3 {
    &__image {
        width: 100%;
        height: auto;
        margin-bottom: -6rem;
    }

    &__grid {
        column-gap: $tiny-gap;
        row-gap: $tiny-gap;

        &>div {
            @include paragraph-medium-text;
            margin-top: 0;
            row-gap: $tiny-gap;
            justify-content: flex-start;

            div {
                @include shadow;
                padding: 2rem;
                height: min-content;

                .buttons {
                    @include light-button;
                    margin-top: 1rem;
                    width: max-content;
                }
            }
        }
    }
}


.section5 {
    h2 {
        @include header-secondary-text;
    }

    p {
        @include paragraph-light-text
    }


    .accordion {
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        border-bottom: $border-weight $grey-primary;

        &::before {
            background-color: transparent;
        }

        svg {
            width: 3rem;
            height: auto;
            fill: $dark-primary;
        }

        .accordion-summary {
            padding: 0;

            div {
                margin: 0;
            }
        }

        .accordion-details {
            padding: 0 0 1rem 0;
        }
    }
}

.section5-column2 {
    display: flex;
    align-items: center;

    &__image {
        margin-right: -5rem;
        width: 100%;
        height: auto;
    }
}

.section6 {
    display: flex;
    flex-direction: column;
    align-items: center;


    .title {
        display: flex;
        align-items: center;

        .star {
            width: auto;
            height: 6rem;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: $tiny-gap;

        .quote {
            margin: 0;

            &__decor {
                &--image {
                    width: auto;
                    height: 4rem;
                }
            }
        }
    }
}

.section7 {
    .card {
        @include shadow;
        padding: 2rem;
        $transition: 0.3s ease-in-out;

        .preview {
            &__container {
                position: relative;
                display: flex;

                &--arrow {
                    opacity: 0;
                    z-index: 5;
                    @include shadow;
                    @include glassmorphism;
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    transform: translate(50%, -50%);
                    padding: 1rem;
                    border-radius: 100%;
                    border: $border-weight $white-primary;
                    transition: $transition;

                    svg {
                        color: $white-primary;
                        width: 2rem;
                        height: auto;
                    }
                }

            }

            &__image {
                filter: brightness(100%);
                transition: $transition;

                .news {
                    @include shadow;
                    width: 100%;
                    height: auto;
                    border-radius: $border-radius;
                    transition: $transition;
                }
            }


        }

        &:hover {
            .preview {
                &__container {
                    &--arrow {
                        opacity: 1;
                    }

                }

                &__image {
                    filter: brightness(70%);

                    .news {
                        @include shadow;
                        border-radius: $border-radiusx2;
                    }
                }
            }
        }



        .info {
            margin-top: 1rem;
            width: 20rem;

            p {
                @include paragraph-light-secondary-text;
            }

            h2 {
                @include paragraph-medium-text;
            }
        }
    }
}

@include md {
    .stats {
        margin: 0 15% 3rem;

        &__container {
            margin-top: 3.5rem;
            margin-right: 6rem;

            .circle-1 {
                width: 18rem;
                height: auto;
                top: -4.5rem;
                right: -2rem;
            }
        }

        $stat-font: 60px;
        $text-font: 30px;
        $box-size: 20rem;
        $multiplier: 0.8;
        $box-multiplier: 0.7;

        &__1 {
            height: calc($box-size * $box-multiplier);
            width: calc($box-size * $box-multiplier);

            h2 {
                font-weight: bold;
                font-size: calc($stat-font * $multiplier);
            }

            h3 {
                font-weight: 500;
                font-size: calc($text-font * $multiplier);
                line-height: calc($text-font * $line-height-multiplier * $multiplier);
            }
        }

        &__2 {
            height: $box-size;
            width: $box-size;
            margin-right: 15rem;
            margin-top: -3.5rem;

            .circle-2 {
                width: 8rem;
                height: auto;
                top: -4rem;
                left: 1rem;
            }

            .circle-3 {
                width: 15rem;
                height: auto;
                bottom: -5rem;
                right: -10rem;
            }

            h2 {
                font-weight: bold;
                font-size: calc($stat-font);
            }

            h3 {
                font-weight: 500;
                font-size: calc($text-font);
                line-height: calc($text-font * $line-height-multiplier);
            }
        }
    }

    .section2 {
        &__container {
            .circle-1 {
                bottom: -5rem;
                right: 1rem;
                width: auto;
            }

            .circle-3 {
                width: 10rem;
                height: auto;
                left: 6rem;
                top: 0;
            }

            &--founder {
                .founder {
                    padding: 2rem 0 0;
                    width: min-content;
                    height: auto;
                }

                .title {
                    h2 {
                        margin: 1rem 0 0.5rem 0;
                    }
                }
            }
        }
    }

    .section5-column2 {
        &__image {
            margin-right: -5rem;
            width: 30rem;
            height: auto;
        }
    }
}

@include gt-md {
    .hero {
        margin-top: $hero-top-margin-desktop;
    }


    .stats {
        &__container {
            margin-top: 3.5rem;
            margin-right: 6rem;

            .circle-1 {
                width: 18rem;
                height: auto;
                top: -4.5rem;
                right: -2rem;
            }
        }

        $stat-font: 60px;
        $text-font: 30px;
        $box-size: 20rem;
        $multiplier: 0.8;
        $box-multiplier: 0.7;

        &__1 {
            height: calc($box-size * $box-multiplier);
            width: calc($box-size * $box-multiplier);

            h2 {
                font-weight: bold;
                font-size: calc($stat-font * $multiplier);
            }

            h3 {
                font-weight: 500;
                font-size: calc($text-font * $multiplier);
                line-height: calc($text-font * $line-height-multiplier * $multiplier);
            }
        }

        &__2 {
            height: $box-size;
            width: $box-size;
            margin-right: 15rem;
            margin-top: -3.5rem;

            .circle-2 {
                width: 8rem;
                height: auto;
                top: -4rem;
                left: 1rem;
            }

            .circle-3 {
                width: 15rem;
                height: auto;
                bottom: -5rem;
                right: -10rem;
            }

            h2 {
                font-weight: bold;
                font-size: calc($stat-font);
            }

            h3 {
                font-weight: 500;
                font-size: calc($text-font);
                line-height: calc($text-font * $line-height-multiplier);
            }
        }
    }

    .section1-header {
        img {
            border-radius: $border-radius;
            // width: auto;
            // height: auto;
        }
    }

    .section1-container {
        $overflow: 5rem;

        div {
            display: grid;
            column-gap: $tiny-gap;
            row-gap: $tiny-gap;
        }

        .column2 {
            margin-top: $overflow;
            margin-bottom: calc(-1 * $overflow);
        }
    }

    .quote {
        margin-top: 3rem;

        &__decor {
            margin-bottom: 2rem;

            &--chips {
                row-gap: 1rem;
                margin: 0.5rem 0;
            }

            &--image {
                align-self: flex-end;
                width: auto;
                height: auto
            }
        }
    }

    .section2 {
        &__container {
            .circle-1 {
                bottom: -3rem;
                right: -2.5rem;
                width: auto;
            }

            .circle-3 {
                width: 10rem;
                height: auto;
                left: -1rem;
                top: 0;
            }

            &--founder {
                .founder {
                    padding: 2rem 0 0;
                    width: min-content;
                    height: auto;
                }

                .title {
                    h2 {
                        margin: 1rem 0 0.5rem 0;
                    }
                }
            }
        }
    }

    .section3 {
        &__image {
            // width: auto;
            // height: auto;
            margin-bottom: 0;
        }

        &__grid {
            column-gap: $tiny-gap;
            row-gap: 0;

            &>div {
                margin-top: 1rem;
                row-gap: $tiny-gap;

                div {
                    padding: 2rem;

                    .buttons {
                        margin-top: 1rem;
                    }
                }
            }
        }
    }


    .section5 {
        .accordion {
            svg {
                width: 3rem;
                height: auto;
            }

            .accordion-details {
                padding: 0 0 1rem 0;
            }
        }
    }

    .section5-column2 {
        &__image {
            margin-right: -5rem;
            // width: auto;
            // height: auto;
        }
    }

    .section6 {
        .title {
            .star {
                width: auto;
                height: 6rem;
            }
        }

        &__container {
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 1rem;
            margin: 0 5rem;

            .quote:nth-child(2) {
                $overflow: 5rem;
                margin-top: $overflow;
                margin-bottom: calc(-1 * $overflow);
            }

            .quote {
                &__decor {
                    &--image {
                        width: auto;
                        height: 4rem;
                    }
                }
            }
        }
    }

    .section7 {
        .card {
            padding: 1rem;
        }
    }
}