@use '../../styles/settings/index.scss' as *;

.card {
  @include glassmorphism;
  @include shadow;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 2rem;
  text-align: left;
  color: $dark-primary;
  text-decoration: none;
  border: $border-weight $white-primary;
  border-radius: $border-radius;
  
  h2 {
    @include header-secondary-text;
    margin: 0 0 1rem 0;
  }
  
  p {
    @include paragraph-light-text;
    margin: 0;

  }
  
}

@include gt-sm{
  .card {
    padding: 3rem;
  }
}