@use '../../styles/settings/index.scss' as *;

@mixin flex-center {}

.container {
    background-color: transparent;
    width: 100vw;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    padding: 0.5rem 4rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    &__logo {
        padding: 0.5rem 0;
        img {
            height: auto;
            width: 12rem;
            margin-bottom: -3rem;
        }

        // background-image: url(../../assets/images/logo-black.svg);
        // background-repeat: no-repeat;
        // background-position: 50% 50%;
    }

    &__links {
        width: fit-content;
        gap: 20px;
        column-gap: 20px;
        display: flex;
        flex-wrap: nowrap;

        li {
            list-style: none;
            display: flex;
            align-items: center;
        }

        .links {
            a {
                @include navbar-text;
                font-weight: normal;
                color: $dark-primary;
                text-transform: capitalize;
            }
        }

        .contact {
            @include light-button;
        }
    }
}