@use '../../styles/settings/index.scss' as *;

@mixin flex-center {}

.container {
    background-color: $color-primary;
    width: 100vw;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;

    &__logo {
        width: 5rem;
        background-image: url('../../assets/logo-black.svg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }

    &__links {
        width: fit-content;
        gap: 1rem;
        display: flex;
        flex-wrap: nowrap;

        li {
            list-style: none;
            display: flex;
            align-items: center;
        }

        .links {
            a{
                font-size: 13px;
                line-height: 14px;
                font-weight: normal;
                color: $dark-primary;
            }
        }

        .contact {
            background-color: $dark-primary;
            padding: 0.5rem;
            border-radius: 5px;
            a{
                color: white;
                font-weight: bold;

            }

        }
    }
}