@use '../../styles/settings/index.scss' as *;

.carousel {
  position: relative;
  overflow: hidden;
}

.arrow-container{
  display: flex;
  justify-content: flex-end;
}
.arrow {
  color: $dark-primary;
  svg{
    width: 2rem;
    height: auto;
  }
}

.slider {
  display: flex;
  column-gap: 1rem;
}