$border-radius: 10px;
$border-radiusx2: 20px;
$border-weight: 2px solid;

$tiny-gap: 0.2rem;

$small-padding: 20px;
$large-padding: 65px;

$hero-top-margin-phone: 6rem;
$hero-top-margin-desktop: 8rem;

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-30px);
    }

    100% {
        transform: translatey(0px);
    }
}

@keyframes action {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(5px);
    }

    100% {
        transform: translatey(0px);
    }
}

// @keyframes idle {
//     0% {
//         transform: translate(0px ,0px);
//     }

//     25% {
//         transform: translate(-15px ,-15px);
//     }

//     50% {
//         transform: translate(0px ,-30px);
//     }

//     70% {
//         transform: translate(15px ,-15px);
//     }

//     100% {
//         transform: translate(0px ,0px);
//     }
// }

@keyframes idle {
    $translate: 3rem;
    0% {
        transform: translate(0px ,0px);
    }

    25% {
        transform: translate( calc(-1 * ($translate / 2)), calc(-1 * ($translate / 2)));
    }

    50% {
        transform: translate(0px ,calc(-1 * $translate));
    }

    75% {
        transform: translate(calc(1 * ($translate / 2)), calc(-1 * ($translate / 2)));
    }

    100% {
        transform: translate(0px ,0px);
    }
}

@keyframes idle-reverse {
    $translate: -10rem;
    0% {
        transform: translate(0px ,0px);
    }

    25% {
        transform: translate( calc(-1 * ($translate / 2)), calc(-1 * ($translate / 2)));
    }

    50% {
        transform: translate(0px ,calc(-1 * $translate));
    }

    75% {
        transform: translate(calc(1 * ($translate / 2)), calc(-1 * ($translate / 2)));
    }

    100% {
        transform: translate(0px ,0px);
    }
}

@mixin action-animation ($time) {
    animation: action $time ease-in-out infinite;
}

@mixin float-animation ($time) {
    animation: float $time ease-in-out infinite;
}

@mixin idle-animation ($time) {
    animation: idle $time ease-in-out infinite;
}

@mixin idle-reverse-animation ($time) {
    animation: idle-reverse $time ease-in-out infinite;
}

@mixin hover-scale{
    transition: 0.3s ease-in-out;
    &:hover {
        transform: scale(1.02);
    }
}

@mixin glassmorphism {
    // background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(20px);
}

@mixin shadow {
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.26);
}

@mixin chips {
    @include button-text;
    @include glassmorphism;
    padding: 0.5rem 1rem;
    border-radius: $border-radius;
    border: $border-weight $dark-primary;
    width: max-content;
    p {
        color: $dark-primary;
        font-weight: bold;
    }
}

@mixin light-button {
    @include button-text;
    @include glassmorphism;
    padding: 0.5rem 1rem;
    border-radius: $border-radius;
    border: $border-weight $dark-primary;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    width: fit-content;

    a {
        color: $dark-primary;
        font-weight: bold;
        display: flex;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        column-gap: 0.5rem;
    }

    &:hover {
        background-color: $dark-primary;

        a {
            color: $white-primary;
        }
    }
}

@mixin dark-button {
    @include button-text;
    padding: 0.5rem 1rem;
    border-radius: $border-radius;
    transition: 0.3s ease-in-out;
    background-color: $dark-primary;
    cursor: pointer;
    width: fit-content;

    a{
        color: $white-primary;
        font-weight: bold;
        display: flex;
        vertical-align: middle;
        align-items: center;
        justify-content: center;
        column-gap: 0.5rem;
        margin: 0;
    }

    &:hover {
        background-color: $white-primary;
        border: $border-weight $dark-primary;

        a {
            color: $dark-primary;
            font-weight: bold;
        }
    }
}