@use '../../styles/settings/index.scss' as *;

.container {
  background-color: $dark-primary;
  width: 100vw;
  z-index: 1;
  @include header-text;
  color: $white-primary;
  padding: $large-padding $small-padding;
  position: relative;

  .absolute {
    position: absolute;
    z-index: -1;

    .circle-1,
    .circle-2,
    .circle-3 {
      position: absolute;
    }

    .circle-1 {
      @include float-animation(6s);
      width: 28rem;
      height: auto;
      top: 40rem;
      left: 0rem;
    }

    .circle-2 {
      @include float-animation(8s);
      width: 12rem;
      height: auto;
      left: 18rem;
      top: -12rem;
    }

    .circle-3 {
      @include float-animation(4s);
      width: 8rem;
      height: auto;
      left: 0rem;
      top: -6rem;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .form {
    padding: 2rem;
    border: $border-weight $white-primary;
    border-radius: $border-radiusx2;
    width: 100%;

    .error {
      @include paragraph-light-secondary-text;
      color: red;
    }

    .success {
      @include paragraph-light-secondary-text;
      color: green;
    }

    &__header {
      h2 {
        margin: 0;
      }

      display: flex;
      flex-wrap: wrap;
      column-gap: 2rem;
      vertical-align: middle;
      align-items: center;
      margin-bottom: 1rem;

      .plane {
        width: auto;
        height: 4rem;
      }
    }
  }

  .field {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    &__grid {
      column-gap: 1rem;
    }

    &__flex {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      row-gap: 1rem;
    }

    .submit {
      @include button-text;
      padding: 0.5rem 1rem;
      background-color: $white-primary;
      border-radius: $border-radius;
      transition: 0.3s ease-in-out;
      color: $dark-primary;
      font-weight: bold;
      text-transform: capitalize;
      width: fit-content;


      svg {
        height: inherit;
        margin-right: 0.5rem;
      }

      &:hover {
        background-color: $circle-3;

      }
    }

  }

  .info {
    $button-size: 7rem;
    $row-gap: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    row-gap: $row-gap;

    &__info {
      display: flex;
      row-gap: $row-gap;
      flex-direction: column;

      &>div {
        row-gap: $row-gap;
      }

      .text {
        $first-column: 40%;
        $second-column: calc(100% - $first-column);
        color: $white-primary;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        &>div {
          width: $first-column;
        }

        h2 {
          @include paragraph-medium-text;
        }

        p {
          @include paragraph-light-secondary-text;
        }

        ul {
          @include paragraph-light-secondary-text;
          list-style: none;
          margin: 0;
          border-left: $border-weight $white-primary;
          width: $second-column;

          li {

            a {
              color: $white-primary;
              display: flex;
              align-items: center;
              column-gap: 1rem;

              .star {
                opacity: 0;
                height: 2rem;
                width: auto;
                transition: 0.1s ease-in-out;
              }
            }

            &:hover {
              a {
                .star {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }

    .contacts {
      ul {
        display: flex;
        column-gap: 0.5rem;

        li {
          a {
            svg {
              height: 2rem;
              width: auto;
            }
          }

          &:hover {
            a {
              svg {
                color: $circle-3;
              }
            }
          }
        }
      }
    }

    .back-to-top {
      @include paragraph-medium-text;
      @include shadow;
      @include glassmorphism;
      border: $border-weight $white-primary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 100%;
      background-color: rgba(254, 254, 254, 0.2);
      color: $white-primary;
      width: $button-size;
      height: $button-size;
      padding: 1rem;
      text-align: center;
      align-self: center;
      align-items: center;

      .scroll {
        width: $button-size;
        height: $button-size;
        padding: 1rem;
      }

      a {
        color: $white-primary;
      }

      p {
        margin: 0;
      }

      svg {
        $size: 1.5rem;
        width: $size;
        height: $size;
      }
    }
  }
}

@include gt-sm {
  .container {
    .absolute {
      .circle-1 {
        width: 30rem;
        height: auto;
        top: 50rem;
        left: 30rem;
      }
  
      .circle-2 {
        width: 20rem;
        height: auto;
        left: 42rem;
        top: -14rem;
      }
  
      .circle-3 {
        width: 10rem;
        height: auto;
        left: 0rem;
        top: -6rem;
      }
    }
  }
}

@include gt-md {
  $button-size: 7rem;
  $gap: 1rem;

  .container {
    padding: $large-padding;

    .absolute {
      .circle-1 {
        width: 18rem;
        height: auto;
        top: 12rem;
        left: 55rem;
      }

      .circle-2 {
        width: 15rem;
        height: auto;
        left: 55rem;
        top: -11rem;
      }

      .circle-3 {
        width: 10rem;
        height: auto;
        left: 35rem;
        top: -6rem;
      }
    }

    .grid {
      display: grid;
      grid-template-columns: [first] 40% [line2] 60% [end];
      column-gap: 1rem;
    }

    .flex {
      display: flex;
    }

    .info {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row;
      column-gap: $gap;

      &__info {
        display: flex;
        flex-direction: column;
        row-gap: $gap;
        justify-content: center;

        &>div {
          column-gap: $gap;
        }

        .text {
          flex-direction: column;
          align-items: flex-start;
          padding: 2rem;

          ul {
            width: 100%;
            border-left: none;
            padding: 0;
            justify-content: center;

            li {
              a {
                svg {
                  height: 3rem;
                  width: auto;
                }
              }
            }
          }
        }
      }

      .contacts {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .back-to-top {
        width: $button-size;
        height: $button-size;

        .scroll {
          width: $button-size;
          height: $button-size;
          padding: 1rem;

          svg {
            $size: 2rem;
            width: $size;
            height: $size;
          }
        }
      }
    }
  }
}