@use '../../styles/settings/index.scss' as *;

.container{
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
    .title {
        @include header-text;
        max-width: 50rem;
    
        h1 {
            margin: 2rem 0;
        }
    }
    
    .squiggle{
        width: 10rem;
        height: auto;
    }
}

