@use '../../styles/settings/index.scss' as *;
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  z-index: 1;
  & > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @include lt-lg{
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}