@use '../../styles/settings/index.scss' as *;

$circle-size: 60px;
.container {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: $white-primary;
    
    .circle-1,
    .circle-2,
    .circle-3 {
        border-radius: 100%;
        position: absolute;
        z-index: -1;
    }
    
    .glassmorphism{
        position: absolute;
        @include glassmorphism;
        height: 100vh;
        width: 100vw;
        z-index: 0;
    }

    .circle-1 {
        // the purple circle
        // @include idle-animation(10s);
        $ratio: 5.5;
        width: calc($circle-size * $ratio);
        height: calc($circle-size * $ratio);
        background-color: $circle-1;
        top: 16rem;
        right: 1rem;
    }

    .circle-2 {
        // the pink circle
        $ratio: 3;
        width: calc($circle-size * $ratio);
        height: calc($circle-size * $ratio);
        background-color: $circle-2;
        top: 4rem;
        right: 4rem;
    }
    
    .circle-3 {
        // the cyan circle
        // @include idle-reverse-animation(10s);
        $ratio: 4;
        $size: 400px;
        width: calc($circle-size * $ratio);
        height: calc($circle-size * $ratio);
        background-color: $circle-3;
        top: 8rem;
        right: 14rem;
    }
}

@include gt-sm{
    $circle-size: 90px;
.container {
    .circle-1 {
        // the purple circle
        $ratio: 5.5;
        width: calc($circle-size * $ratio);
        height: calc($circle-size * $ratio);
        background-color: $circle-1;
        top: 16rem;
        right: 2rem;
    }

    .circle-2 {
        // the pink circle
        $ratio: 3;
        width: calc($circle-size * $ratio);
        height: calc($circle-size * $ratio);
        background-color: $circle-2;
        top: 2rem;
        right: 10rem;
    }

    .circle-3 {
        // the cyan circle
        $ratio: 4;
        $size: 400px;
        width: calc($circle-size * $ratio);
        height: calc($circle-size * $ratio);
        background-color: $circle-3;
        top: 10rem;
        right: 20rem;
    }
}
}